{
        "postgres": {
                "host": "127.0.0.1:5432",
                "user": "{{ db_user }}",
                "pass": "{{ db_passwd }}",
                "name": "{{ db_name }}",
                "options": {
                        "sslmode": "disable"
                }
        },
        "dialect": "postgres",
        "tmp_path": "/tmp/semaphore",
        "cookie_hash": "XfjIdqvpdvG/dZ8Jb8Y6jC+WND9EgJU+8cnK+V55M04=",
        "cookie_encryption": "cvdpxQHYGT2iO3DuFPMQMf2ww/jrO/P9vQzPW54uQDQ=",
        "access_key_encryption": "LfZI2IJt8F1Ba9la0vZBh0nnrR0VO7T1qmIKzd1Wdrg="
 }
